<!-- <p>transfer works!</p> -->
<div class="row mt-4 quick-transfer-wrapper">
    <div class="card">
        <div class="row">
            <div class="col-12">
                <h2 class="graphs-header-prim">
                    quick transfer
                </h2>
            </div>
            <div class="col-11 image-wrapper">
                <img src="http://placehold.it/32x32" alt="user-image" title="user-image">
                <img src="http://placehold.it/32x32" alt="user-image" title="user-image">
                <img src="http://placehold.it/32x32" alt="user-image" title="user-image">
                <img src="http://placehold.it/32x32" alt="user-image" title="user-image">
                <img src="http://placehold.it/32x32" alt="user-image" title="user-image">
                <img src="http://placehold.it/32x32" alt="user-image" title="user-image">
            </div>
            <div class="col-1 d-flex align-items-center">
                <a href="#."><i class="fas fa-angle-right"></i></a>
            </div>
        </div>
        <div class="row my-3">
            <div class="col-12">
                <p class="mb-0">Card number</p>
            </div>
            <div class="col-12">
                <div class="card p-1">
                    <div class="row card-number-wrapper">
                        <div class="col-9">
                            <p>0818 7183 0713 2514</p>
                        </div>
                        <div class="col-3 text-end">
                            <h3>VISA</h3>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-12 d-flex justify-content-between">
                <button type="button" class="btn btn-lg btn-primary">Send money</button>
                <button type="button" class="btn btn-lg btn-light">Save as draft</button>
            </div>
        </div>
    </div>
</div>