.transactions-header-prim{
    @include header-sec
}

// .transactions{
//     // border: 1px solid red;
//     // padding: 25px;
// }

.transaction-table{
   & tbody{
    vertical-align: middle;
    & td{
        font-size: 1rem;
        font-weight: 500;
        color: #969696;
        margin-bottom: 5px;
        // border: none;
        & select{
            font-size: 1rem;
            color: red;
            border: none;
            text-transform: capitalize;
        }
    }
   }
   & img{
    border-radius: 50%;
   }
}
.status-comp{
    color : green;
}
.transaction-row{
    height: 26rem;
    overflow-y: scroll;
}
