<!-- <p>my-cards works!</p> -->
<div class="row">
    <div class="card">
        <div class="row">
            <div class="col-6">
                <h2 class="graphs-header-prim">
                    My cards
                </h2>
            </div>
            <div class="col-6 graphs-header-sec">
                <div class="logo-secondary">
                    <i class="fa fa-ellipsis-v" aria-hidden="true"></i>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-12 mt-4">
                <img src="https://usa.visa.com/dam/VCOM/regional/na/us/common-assets/cards/visa-traditional-card-800x450.jpg"
                    alt="" class="visa-card">
            </div>
        </div>
        <div class="row">
            <div class="card my-cards-balance">
                <div class="row">
                    <div class="col-12">
                        <p>Your Balance</p>
                    </div>
                    <div class="col-5">
                        <h2>$ 123456</h2>
                    </div>
                    <div class="col-7 percentage-wrapper">
                        <div class="percentage-increase">
                            <i class="fas fa-arrow-up"></i>
                            <span>9.14%</span>
                        </div>
                        <div class="percentage-decrease">
                            <i class="fas fa-arrow-down"></i>
                            <span>8.39%</span>
                        </div>
                    </div>
                </div>
                <hr>
                <div class="row">
                    <div class="col-6">
                        <p class="mb-1">Currency</p>
                        <h3 class="mb-0">USD / US Dollar</h3>
                    </div>
                    <div class="col-6">
                        <p class="mb-1">Status</p>
                        <h3 class="mb-0">Active</h3>
                    </div>
                </div>
                
            </div>
        </div>
        <div class="row mt-4">
            <div class="col-12">
                <button class="btn btn-primary addNewCard">+  Add new card</button>
            </div>
            
        </div>
    </div>
</div>